@import url('https://fonts.googleapis.com/css?family=Spectral');

body {
    background-color: #F4F4F4;
    background-image: linear-gradient(to top, #F3B05A, #ffe289);
    display: flex;
    flex-direction: column;
    font-family: 'Spectral', 'Trebuchet MS', serif;
    margin: 0;
}

body * {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
}

nav {
    order: 1;
}

header {
    order: 0;
}

main {
    order: 2;
}

footer {
    order: 3;
}

.centered {
    text-align: center;
}

.card {
    background-color: #d6869b;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 5px 5px grey, -1px 0 5px grey;
    margin-bottom: 14px;
    padding: 12px;
}

#logo {
    align-self: center;
    margin-bottom: 14px;
    margin-top: 14px;
}

#frontpic {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 14px;
    padding: 12px;
}

#slogandesc {
    font-size: 14px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    text-align: center;
}

#navlist {
    background-color: #722c42;
    list-style-type: none;
    padding: 0;
}

#navlist a {
    color: white;
    display: block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

#navlist li:hover {
    background-color: #a3586d;
}

header, nav, main {
    margin-left: 14px;
    margin-right: 14px;
}

main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

#dates {
    table-layout: fixed;
}

#dates tr td {
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    width: 3em;
}

#dates caption p {
    font-size: 12px;
}

/* hides empty cells */
#dates tr > td:empty {
    background-color: transparent;
    background-image: none;
    border: 0;
}

#reasons > ul {
    padding-right: 30px;
}

#reasons p {
    font-size: 14px;
}

#ytframe {
    display: none;
}

footer {
    background-color: #722c42;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 7px;
}

footer a {
    border: 1px dotted white;
    margin-left: 14px;
    padding: 7px;
    text-decoration: none;
}

/*@media only screen and (min-width: 768px) {

    nav {
        margin: 0;
        order: 1;
        position: fixed;
        width: 100%;
    }

    #navlist {
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    #navlist li {
        float: left;
        font-weight: bolder;
    }

    #navlist li:nth-last-child(1), #navlist li:nth-last-child(2) {
        float: right;
    }

    #logo {
        align-self: start;
        margin-top: 60px;
        position: absolute;
    }

    header {
        margin-top: -100px;
        order: 3;
    }

    #frontpic {
        border-radius: 0;
        display: block;
        margin-bottom: 12px;
        order: 2;
        width: 100%;
    }

    #ytframe {
        display: block;
        margin-bottom: 14px;
    }
}*/