@import url('https://fonts.googleapis.com/css?family=Spectral');

header {
	order: 0;
}

nav {
	order: 1;
}

main {
	order: 2;
}

footer {
	order: 3;
}

body {
	background-color: #F3B05A;
	background-image: linear-gradient(to top, #F3B05A, #ffe289);
	color: #F4F4F4;
	display: flex;
	flex-direction: column;
	font-family: 'Spectral', 'Trebuchet MS', serif;
	margin: 0;
	min-height: 100vh;
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#logo {
	background-color: #F4F4F4;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 50vw;
	margin: 30px;
	max-height: 600px;
	max-width: 600px;
	min-height: 150px;
	min-width: 150px;
	opacity: 0.9;
	width: 50vw;
}

nav {
	align-self: center;
	background-color: transparent;
	top: 0;
	width: 40%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	font-size: 17px;
	text-align: center;
}

nav li a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
}

main section {
	background-color: #A3586D;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 0;
	max-width: 1080px;
	padding: 20px;
	width: 85%;
}

#calendar {
	text-align: center;
}

#calendar table {
	margin-top: 10px;
}

#reasons {
	border-top: 1px solid #F4F4F4;
	padding-top: 20px;
}

h1, h2 {
	margin-bottom: 0;
	margin-top: 0;
}

#slogan {
	background-color: #A3586D;
	text-align: center;
}

#video {
	background-color: black;
	height: 56.25vh;
	margin-bottom: 10px;
	max-width: 1080px;
	width: 85%;
}

footer {
	background-color: #722C42;
	display: flex;
	flex-direction: row-reverse;
}

footer li:nth-of-type(2) {
	bottom: 0;
	margin-right: 10px;
}

footer li {
	display: inline;
	font-size: 17px;
	list-style-type: none;
	padding: 15px;
}

footer li a {
	color: #F4F4F4;
	font-weight: bold;
	text-decoration: none;
}

#dates {
	table-layout: fixed;
}

#dates tr td {
	border: 1px solid white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
	width: 3em;
}

#dates caption p {
	font-size: 12px;
}

/* hides empty cells */
#dates td:empty {
	background-color: transparent;
	background-image: none;
	border: 0;
}

.card {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 768px) {
	
	nav {
		order: 0;
	}
	
	header {
		order: 1;
	}
	
	nav {
		background-color: #722C42;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: sticky;
		width: 100%;
	}
	
	nav ul li {
		float: left;
	}
	
	nav hr {
		display: none;
	}
	
	nav li a {
		color: #F4F4F4;
		display: block;
		padding: 15px;
	}
	
	body {
		background-image: url(../assets/images/jpg/home.jpg), linear-gradient(to top, #F3B05A, #ffe289);
		background-position-y: 56px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	
	main section {
		flex-direction: row;
	}
	
	#calendar {
		flex-basis: 350px;
		margin-right: 20px;
		text-align: center;
	}
	
	#calendar table {
		margin-top: 10px;
	}
	
	#reasons {
		border-left: 1px solid #F4F4F4;
		border-top: none;
		flex-shrink: 1.75;
		padding-left: 20px;
		padding-top: 0;
	}
}