<!--
@import url('https://fonts.googleapis.com/css?family=Spectral');

#A3586D red-ish
#5C4A70 blue-ish
#F3B05A yellow-ish
#F4F4F4 white-ish

#5C4A70
#F3B05A
#F4F4F4
-->

.yell {
    background-color: yellow;
}

.bell {
    background-color: blue;
}

body {
    background-color: #F4F4F4;
    font-family: 'Spectral', 'Trebuchet MS', serif;
}


.centered {
    text-align: center;
}

.card {
    padding: 0 12px 12px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px grey, -1px 0px 5px grey;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* HEADER */

header {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#frontpic {
    width: 100%;
}

header > div {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 70%;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 12px;
}

#slogan {
    margin-top: 8px;
}

#slogandesc {
    font-size: 14px;
}

/* MAIN CONTENT*/

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 12px 12px 12px;
}

main > * {
    margin: 1% 0 1% 0;
}

main > section:first-child {
    background-image: linear-gradient(white, #F4F4F4);
}

#dates {
    table-layout: fixed;
}

#dates tr td {
    width: 3em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

#dates tr {
    width: auto;
}

#dates caption p {
    font-size: 12px;
    background-image: linear-gradient(#F4F4F4, #F4F4F4);
}

#dates tr > td:empty {
    border: 0;
    background-image: none;
    background-color: transparent;
}

#reasons {
    grid-area: reasons;
}

#reasons > ul {
    padding-right: 30px;
}

#reasons > ul > li > p {
    font-size: 14px;
}

#prices {
    grid-area: prices;
}

#picture {
    grid-area: pframe;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}