.selected {
    background-color: #a3586d;
}

#subnav {
    order: 3;
}

#subnav ul {
    list-style-type: none;
    margin: 0 14px 14px 14px;
    padding: 0;
    background-color: #722c42;
}

#subnav a {
    display: block;
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#subnav li:hover {
    background-color: #a3586d;
}

main > h1 {
    margin: 0;
    text-align: center;
}

main p {
    margin: 0;
}

main ol {
    padding-left: 30px;
    text-align: start;
}

body {
    background-color: #F3B05A;
}

@media only screen and (min-width: 768px) {

    #subnav {
        margin-top: -180px;
    }

    main {
        text-align: center;
    }
}